@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  /*                   hero               */
  .header-list {
    display: none;
  }
  .header-address {
    display: none;
  }
  .header-navigation .logotype {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .hero {
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--secondary-bc-color);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-mobile-2x.jpg);
    }
  }
  .hero-container {
    min-width: 320px;
  }
  .hero-title {
    font-size: 36px;
    color: var(--main-heading-color);
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.11;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
  }
  .hero-btn {
    display: flex;
    padding: 16px 32px;
    margin-top: 72px;
    width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    color: var(--main-heading-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  /*                 about                 */

  .about {
    display: block;
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: baseline;
  }

  .about-soc-container {
    display: none;
  }

  .about-list {
    display: block;
  }

  .about-item {
    width: 100%;
    max-width: 396px;
    margin: auto;
  }

  .about-item:not(:first-child) {
    padding-top: 72px;
  }

  .about-subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .section-text {
    font-weight: 500;
  }

  /* What Are We Doing   */
  .doing {
    display: none;
  }

  /*          Our Team      */
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    flex-direction: column;
  }

  .team-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
    max-width: 264px;
  }

  .team-soc-icon {
    fill: #ffffff;
  }

  .team-soc-list {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-soc-link {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--timing) var(--func-timing);
  }

  .card-container {
    padding: 32px 16px;
    text-align: center;
  }

  /*          customers-block          */

  .customer-section {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 480px;
    margin: 0 auto;
  }
  .customer-soc-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .customer-soc-link {
    display: flex;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border var(--timing) var(--func-timing);
  }

  .customer-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
  }

  .customer-soc-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*                 footer                  */

  .footer {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bc-color);
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 100%;
  }
  .footer-text {
    color: var(--footer-text-color);
    margin-top: 16px;
    width: 268px;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    align-items: center;
  }
  .footer-media {
    margin-left: 0;
  }
  .footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-wrap {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-form-wrap .footer-social-media {
    max-width: 75px;
  }
  /* .subsribe-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } */
  .footer-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 16px;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .footer-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--footer-input-b-color);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--main-heading-color);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .modal-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-container {
    height: 100%;
    padding-top: 24px;
    padding-left: 40px;
    margin-right: 24px;
    padding-bottom: 40px;
  }
  .modal-menu-link {
    color: var(--main-color);
  }
  .menu-contact-phone {
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .menu-contact-mail {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .modal-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .modal-menu-item {
    height: 40px;
  }
  .current::after {
    display: none;
  }
  .menu-soc-list {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 56px;
  }
  .menu-address-list .menu-contact-phone:hover {
    color: var(--primary-button-color);
  }
  .menu-address-list .menu-contact-phone:focus {
    color: var(--accent-color);
  }
  .menu-address-list .menu-contact-mail:hover {
    color: var(--primary-button-color);
  }
  .menu-address-list .menu-contact-mail:focus {
    color: var(--accent-color);
  }
  .filter-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 100%;
    height: auto;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
    row-gap: 48px;
    column-gap: 24px;
  }
  .filter-cover-wrap img {
    width: 100%;
    height: 280px;
  }
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

/**   ------------------------- TABLET---------------*/
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header-list {
    display: flex;
    margin-left: 120px;
  }
  .header-address {
    display: block;
  }
  .address-list {
    display: block;
    margin: 16 0 16 0;
  }
  .address-list .header-link {
    padding: 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
  }
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    left: 0px;
    bottom: -1px;
    background-color: var(--focus-nav-color);
    border-radius: 2px;
  }
  .header-link:hover {
    color: var(--primary-button-color);
  }
  .header-link:focus {
    color: var(--accent-color);
  }
  .address-item:first-child {
    margin: 0 0 12px 0px;
  }
  .header-navigation .logotype {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .header-link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn-box {
    display: none;
  }
  /*                   hero               */

  .hero {
    min-width: 768px;
    margin: 0 auto;
    background-color: var(--secondary-bc-color);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        0deg,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }
  .hero-title {
    color: var(--main-heading-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
  }
  .hero-btn {
    display: flex;
    padding: 16px 32px;
    margin-top: 36px;
    width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    color: var(--main-heading-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  /*                 about                 */
  .about {
    display: block;
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: baseline;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .about-soc-container {
    display: none;
  }
  .about-list > .about-item {
    width: calc((100%-32px-24px) / 2);
    max-width: 356px;
    padding-top: 0;
  }
  .about-subtitle {
    text-align: start;
  }
  .section-text {
    font-weight: 500;
    text-align: start;
  }

  /* What Are We Doing   */
  .doing {
    display: none;
  }
  /*          Our Team      */

  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-soc-list {
    display: flex;
    gap: 24px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    row-gap: 64px;
    column-gap: 24px;
  }

  /*          customers-block          */
  .customer-section {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 768px;
  }
  .customer-soc-item {
    width: 168px;
    height: 88px;
  }
  .customer-soc-link {
    display: flex;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border var(--timing) var(--func-timing);
  }

  .customer-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .customer-soc-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*                 footer                  */

  .footer {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bc-color);
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 100%;
  }
  .footer-text {
    color: var(--footer-text-color);
    margin-top: 16px;
    width: 268px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    align-items: start;
    margin-left: 92px;
  }
  .footer-media {
    margin-left: 0;
  }
  .footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-wrap {
    display: flex;
    align-items: start;
    margin-top: 72px;
  }
  .footer-wrap {
    align-items: start;
  }
  .footer-media {
    align-items: start;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 24px;
  }
  .footer-form-wrap .footer-social-media {
    max-width: 75px;
  }
  /* .subsribe-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } */
  .footer-form {
    display: flex;
    justify-content: start;
    margin-top: 16px;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--footer-input-b-color);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--main-heading-color);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .filter-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 64px;
    row-gap: 72px;
    column-gap: 24px;
  }
  .filter-cover-wrap img {
    width: 356px;
    height: 280px;
  }
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    text-align: start;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 408px;
    height: 584px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/**----------------      Desktop---------*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    margin-left: 76px;
  }
  .header-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-list {
    display: flex;
  }
  .address-item:first-child {
    margin: 0 40px 0 0;
  }
  .address-list .header-link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover {
    color: var(--primary-button-color);
  }
  .header-link:focus {
    color: var(--accent-color);
  }
  .header-link.current {
    color: var(--focus-nav-color);
    position: relative;
  }
  .address-list .header-link {
    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
  }
  .address-list .header-link:hover {
    color: var(--primary-button-color);
  }
  .address-list .header-link:focus {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    left: 0px;
    bottom: -1px;
    background-color: var(--focus-nav-color);
    border-radius: 2px;
  }

  .header-navigation .logotype {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    padding: 0 0;
  }

  /*                   hero               */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0px;
    max-width: 1440px;
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          0deg,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-img-2x.jpg);
    }
  }

  .hero-title {
    background-color: var(--secondary-bc-color);
    color: var(--main-heading-color);
    font-size: 56px;
    line-height: 1.1;
    max-width: 498px;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
  }
  .hero-btn {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 55px auto 0 auto;
  }

  /*                 advantages                 */

  .about {
    padding-top: 120px;
    padding-bottom: 0px;
  }

  .about-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .about-item {
    max-width: 264px;
  }
  .about-soc-container {
    width: 100%;
    height: 114px;
    background-color: var(--team-bc-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .about-item .section-subtitle {
    margin-bottom: 8px;
  }
  .about-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-text {
    font-style: normal;
    font-weight: 400;
  }

  /* What Are We Doing   */

  .doing {
    display: block;
  }
  /*          Our Team      */
  .team {
    background-color: var(--logotype-part-color);
  }
  .team-list {
    display: flex;
    justify-content: center;
    margin-top: 72px;
    gap: 24px;
  }
  .team-item .card-container {
    text-align: center;
  }

  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-soc-icon {
    fill: #ffffff;
  }
  .team-soc-link:is(:hover, :focus) {
    background-color: var(--primary-button-color);
    outline: none;
  }
  /*          customers-block          */

  .customer-section {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 100%;
    margin: 0 0;
  }
  .customer-soc-list {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 72px;
  }
  .customer-soc-item {
    width: calc((100%-150px) / 6);
    height: 88px;
  }
  .customer-soc-link {
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customer-soc-link:is(:hover, :focus) {
    border-color: var(--focus-nav-color);
    outline: none;
  }
  /*                 footer                  */

  .footer {
    background-color: var(--secondary-bc-color);
    max-width: 100%;
    display: block;
  }
  .footer-text {
    color: var(--footer-text-color);
    margin-top: 16px;
    width: 268px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    align-items: center;
    margin: 0 auto;
  }
  .footer-media {
    margin-left: 0;
  }
  .footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-wrap {
    display: flex;
    align-items: start;
    margin-top: 0px;
  }
  .footer-wrap {
    align-items: start;
  }
  .footer-media {
    align-items: start;
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    gap: 0;
  }
  .footer-form-wrap .footer-social-media {
    max-width: 75px;
  }
  /* .subsribe-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } */
  .footer-form {
    display: flex;
    margin-top: 16px;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--footer-input-b-color);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--main-heading-color);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 72px;
    row-gap: 24px;
    column-gap: 24px;
  }
  .filter-cover-wrap img {
    width: 360px;
    height: 300px;
  }
  .filter-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
